[submodule "third_party/litex"]
	path = third_party/litex
	url = https://github.com/enjoy-digital/litex.git
[submodule "third_party/litedram"]
	path = third_party/litedram
	url = https://github.com/enjoy-digital/litedram.git
[submodule "third_party/liteeth"]
	path = third_party/liteeth
	url = https://github.com/enjoy-digital/liteeth.git
[submodule "third_party/litepcie"]
	path = third_party/litepcie
	url = https://github.com/enjoy-digital/litepcie.git
[submodule "third_party/litesata"]
	path = third_party/litesata
	url = https://github.com/enjoy-digital/litesata.git
[submodule "third_party/litescope"]
	path = third_party/litescope
	url = https://github.com/enjoy-digital/litescope.git
[submodule "third_party/litevideo"]
	path = third_party/litevideo
	url = https://github.com/enjoy-digital/litevideo.git
[submodule "third_party/migen"]
	path = third_party/migen
	url = https://github.com/m-labs/migen.git
[submodule "third_party/litex-renode"]
	path = third_party/litex-renode
	url = https://github.com/litex-hub/litex-renode.git
[submodule "third_party/nmigen"]
	path = third_party/nmigen
	url = https://github.com/m-labs/nmigen.git
[submodule "third_party/litex-boards"]
	path = third_party/litex-boards
	url = https://github.com/litex-hub/litex-boards.git
[submodule "third_party/litespi"]
	path = third_party/litespi
	url = https://github.com/litex-hub/litespi.git
[submodule "third_party/liteiclink"]
	path = third_party/liteiclink
	url = https://github.com/enjoy-digital/liteiclink.git
[submodule "litesata"]
	path = litesata
	url = https://github.com/enjoy-digital/litesata.git
[submodule "third_party/pythondata-cpu-vexriscv"]
	path = third_party/pythondata-cpu-vexriscv
	url = https://github.com/litex-hub/pythondata-cpu-vexriscv
[submodule "third_party/pythondata-software-compiler_rt"]
	path = third_party/pythondata-software-compiler_rt
	url = https://github.com/litex-hub/pythondata-software-compiler_rt.git
[submodule "third_party/pythondata-software-picolibc"]
	path = third_party/pythondata-software-picolibc
	url = https://github.com/litex-hub/pythondata-software-picolibc.git
[submodule "third_party/litei2c"]
	path = third_party/litei2c
	url = https://github.com/litex-hub/litei2c
